@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');


body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962;
}

/* Navbar*/
.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    height: 60px;
    z-index: 10;
}

.navbar-nav {
    padding-left: 16px;
}

.navbar-toggler {
    border: none;
}


.navbar-brand img {
    border-radius: 13px;
    height: 2.3rem;
}

.navbar-nav li {
    padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #A9DFBF;
}



/* Article Design */
p {
    font-family: "Calibri";
    font-size: 1.3rem;
    line-height: 1.5;

}

#steckbrief {
    font-family: "Calibri";
    font-size: 1.3rem;
    line-height: 1.5;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

.gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 2px;
}

.img {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    box-shadow: 0 1px 24px 0 rgba(0, 0, 0, 0.2);
}

.video {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    box-shadow: 0 1px 24px 0 rgba(0, 0, 0, 0.2);
}


h2 {
    float: left;
    width: 50%;
    height: 44px;
    margin: 30px 0;
    line-height: 24px;
    text-align: center;
    font-weight: normal;
}

@media only screen and (min-device-width : 360px) and (max-device-width : 812px) {

    .first {
        width: 100vw !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .content {
        padding: 0rem !important;
    }

    .navbar {
        z-index: 200;
    }

    .navbar-nav {
        height: 50px !important;
        padding-left: 16px;
    }

    h2 {
        width: 100%;
    }

    .img {
        max-width: 100%;
        width: 100%;
    }

    .video {
        max-width: 100%;
    }

    .gif {
        max-width: 100%;
        width: 100%;
    }

    p {
        letter-spacing: .4px;
        line-height: 1.5;
        font-size: 1rem;
        margin-bottom: 25px;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    #steckbrief {
        letter-spacing: .4px;
        line-height: 1.5;
        font-size: 1rem !important;
        padding-right: 1rem;
        padding-left: 2rem;
    }

    blockquote {
        font-size: 1.7rem !important;
    }

    .img-with-text {
        text-align: center;
        font-size: 0.8rem !important;
    }

    blockquote:before {
        content: '';
        position: absolute;
        top: 0;
        left: 10px !important;
        width: 6px;
        height: 100%;
        background-color: #A9DFBF;
        border-radius: 60px;
    }
}



blockquote {
    position: relative;
    padding-left: 1.5rem;
    font-family: "Courgette", serif;
    font-size: 2rem;
    line-height: 1.25;
    letter-spacing: -0.05rem;

}

blockquote:before {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    width: 6px;
    height: 100%;
    background-color: #A9DFBF;
    border-radius: 60px;
}

/* Border Effect*/
a,
a>span {
    position: relative;
    color: inherit;
    text-decoration: none;
    line-height: 24px;
}

a:before,
a:after,
a>span:before,
a>span:after {
    content: "";
    position: absolute;
    transition: transform 0.5s ease;
}

.content {
    position: relative;
    padding: 2rem;
    background-color: white;
    margin-top: 5%;
}

.content:before {
    content: '';
    display: block;
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    z-index: 1;

}

.content__inner {
    margin: 0 auto;
    max-width: 850px;
}

.content__inner>*+* {
    margin-top: 1.5rem;
}

.content__inner>blockquote {
    margin: 3rem 0;
}

.content__title {
    font-family: "Courgette", serif;
    font-size: 3rem;
    line-height: 1.25;
    letter-spacing: -0.125rem;
    text-align: center;
}

@media (min-width: 600px) {
    .content__title {
        font-size: 3.5rem;
    }
}

.content__author {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
    width: 100%;
    font-family: "Courgette", serif;
    font-size: 1.5rem;
    letter-spacing: -0.125rem;
    text-align: center;
}

.content__author:before,
.content__author:after {
    content: '';
    flex: 1;
    height: 2px;
    background-color: #A9DFBF;
}

.content__author:before {
    margin-right: 1rem;
}

.content__author:after {
    margin-left: 1rem;
}

/* img with title*/

.img-with-text {
    text-align: center;
    font-size: 1.2rem;
}

/* first img */

.first {
    top: 0;
    left: 0;
    width: 85vw;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    opacity: 0.5;
    font-size: 1rem;
    line-height: 1.8;
    border-radius: 1.6rem;
}






.ih-item.circle.effect13 .info {
    background: #333333;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.ih-item.circle.effect13 .info h3 {
    visibility: hidden;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    font-size: 22px;
    margin: 0 30px;
    padding: 55px 0 0 0;
    height: 110px;
    text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.ih-item.circle.effect13 .info p {
    visibility: hidden;
    color: #bbb;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.ih-item.circle.effect13 img:hover .info {
    opacity: 1;
}

.ih-item.circle.effect13 img:hover h3 {
    visibility: visible;
}

.ih-item.circle.effect13 img:hover p {
    visibility: visible;
}

.ih-item.circle.effect13.from_left_and_right .info h3 {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.ih-item.circle.effect13.from_left_and_right .info p {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

.ih-item.circle.effect13.from_left_and_right a:hover h3 {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.ih-item.circle.effect13.from_left_and_right a:hover p {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.ih-item {
    position: relative;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.ih-item,
.ih-item * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ih-item a {
    color: #333;
}

.ih-item a:hover {
    text-decoration: none;
}

.ih-item img {
    width: 100%;
    height: 100%;
}

.ih-item.circle {
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.ih-item.circle .img {
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.ih-item.circle .img:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.ih-item.circle .img img {
    border-radius: 50%;
}

.ih-item.circle .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}